@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

header {
  height: 100px;
  background-color: black;
  background-image: url("./assets/label.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  -webkit-box-shadow: 0px 0px 20px 15px black;
          box-shadow: 0px 0px 20px 15px black;
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer a:hover {
  opacity: 0.7;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 150px);
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
}

.container {
  background: -webkit-gradient(linear, left top, left bottom, from(#9a9a9a), to(#676767));
  background: linear-gradient(#9a9a9a, #676767);
  width: 600px;
  height: 500px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 35px 0px black;
          box-shadow: 0px 0px 35px 0px black;
}

.images {
  width: 500px;
  height: 354px;
  background-color: gray;
  overflow: hidden;
  margin: 50px auto 0;
  border-radius: 7px;
  border: 5px solid white;
}

.hood {
  margin: 30px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hood p {
  color: white;
  margin: 0;
  font-weight: bolder;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.img {
  width: 500px;
  height: 354px;
  position: relative;
  background-size: 100%;
  -webkit-box-shadow: inset 0px 0px 50px -5px black;
          box-shadow: inset 0px 0px 50px -5px black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.img1 {
  left: 0;
}

.img2 {
  top: -354px;
}

.img3 {
  top: -708px;
}

.img4 {
  top: -1062px;
}

.control {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: black;
  border-color: white;
  cursor: pointer;
}

.active {
  background-color: #9a9a9a;
}

.active:hover {
  background-color: #9a9a9a;
  border-color: white;
  cursor: auto;
}
/*# sourceMappingURL=style.css.map */