@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap')
    
body
    margin: 0
    font-family: 'Nunito', sans-serif

header
    height: 100px
    background-color: black
    background-image: url('../assets/label.png')
    background-size: 100px
    background-repeat: no-repeat
    background-position: center

footer
    box-shadow: 0px 0px 20px 15px black
    height: 50px
    background-color: black
    display: flex
    justify-content: space-between
    padding: 0 30px
    align-items: center
    color: white
    a
        color: white
        text-decoration: none

.main
    display: flex
    justify-content: center
    align-items: center
    height: calc(100vh - 150px)
    background-image: url('../assets/bg.jpg')
    background-repeat: no-repeat
    background-size: 100vw
    
.container
    background-color: gray
    width: 600px
    height: 500px
    border-radius: 10px
    box-shadow: 0px 0px 35px 0px black

.images
    width: 500px
    height: 354px
    background-color: black
    overflow: hidden
    margin: 50px auto 0
    border-radius: 7px
    border: 5px solid white

.hood
    margin: 30px 50px 0
    display: flex
    justify-content: space-between
    p
        color: white
        margin: 0
        font-weight: bolder

.img
    width: 500px
    height: 354px
    position: relative
    background-size: 100%
    
.img1
    left: 0
    background-image: url('../assets/01.jpg')

.img2
    top: -354px
    left: 500px

.img3
    top: -708px
    left: 1000px

.img4
    top: -1062px
    left: 1500px

.control
    width: 150px
    display: flex
    justify-content: flex-end

.btn
    width: 15px
    height: 15px
    margin: 5px
    background-color: white
    border-radius: 50%
    border: 3px solid white

.btn1
    background-color: gray